DEV_HOST=localhost
DEV_PORT=5432
DEV_USERNAME=prisma
DEV_PASSWORD=prisma
DEV_DATABASE=prisma_dev_db
JWT_SECRET=secret_jwt

DATABASE_URL="postgresql://prisma:prisma@localhost:5432/prisma_dev_db?schema=public"

OPENAI_API_KEY=your_openai_api_key
